* {
  font-family: 'Mallanna', sans-serif;
  font-size: 110%;
}

a {
	cursor: pointer;
  text-decoration: none;
  color: #414288;
}
 
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #5fb49c;
}

/*a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #682d63;
}*/

h1 {
  font-family: 'Shadows Into Light Two', cursive;
}

li {
  list-style-type: none;
  line-height: 80px;
}

/*li > img {
  margin-right: 30px;
} */

.btn.btn-danger {
  background-color: #5fb49c;
  border-color: #5fb49c;
  font-size: 110%;
}

body {
  padding-top: 65px;
  background: url("https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/PrFPiTUBghJnCiE/linedpaper.png");
  background-repeat: repeat;
}

.container.story-page, input {
  text-align: center;
}

div#home-page, #about-page {
 /* background: url("https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/cKJXAGZ6vdfd0It/tree_bark.png");
  background-repeat: repeat;*/
}

div#home-page {
  text-align: center;
}

div#home-title {
  background-color: rgba(65,66,136, 0.1);
  height: 400px;
  width: 100%;
  border: 10px #5fb49c solid;
  display: table;
  vertical-align: middle;
}

#app-title {
  line-height: 400px;
  font-size: 86px;
  text-align: center;
}

#app-subtitle {
  padding-top: 50px;
  padding-bottom: 50px;
}

#app-subtitle>h2 {
  font-size: 54px;
}


.navbar.navbar-inverse.navbar-fixed-top {
  height: 65px;
  background-color: #414288;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #414288;
}

.navbar-inverse .navbar-nav > li > a {
  color: silver;
}

.nav-tab {
  position: relative;
  padding-top: 10px;
}

#logo {
  height: 55px;
  width: 55px;
  padding-bottom: 10px;
  position: relative;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

#about-blurb {
  line-height: 30px;
}

.storyText {
  font-size: 1.25em;
}

.storyText > h1 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 2em;
  text-align: center;
}

.tools a {
	border: 1px solid silver;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	padding: 0 20px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight: bold;
	border-radius: 100%;
}

 canvas {
  border: 10px dotted black;
  /*position: relative;*/
  margin-top: 10px;
  margin-right: 50px;
}

.printButton {
	width: 200px;
	height: 40px;
	line-height: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
	padding: 5px, 10px 5px 10px;
	text-align: center;
	border-radius: 10px;
	background-color: white;
  border: 1px silver solid;
}

/* beta ribbon wrapper */

.corner-ribbon-wrapper {
	z-index: 9999999999;
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.corner-ribbon {
	z-index: 9999999999;
  display:block;
  font: bold 18px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

a.corner-ribbon{
  text-decoration: none;
}

.corner-ribbon:before, .corner-ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.corner-ribbon:before {
  left: 0;
}
.corner-ribbon:after {
  right: 0;
}