body {
  padding: 50px 50px 50px 50px;
}

a {
	cursor: pointer;
}

.tools a {
	border: 1px solid silver;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	padding: 0 20px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight: bold;
	border-radius: 100%;
}

 canvas {
  border: 10px dotted black;
  /*position: relative;*/
  margin-top: 10px;
  margin-right: 50px;
}

.printButton {
	width: 200px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 50px;
	padding: 5px, 10px 5px 10px;
	text-align: center;
	border-radius: 10px;
	background-color: black;
}

.corner-ribbon-wrapper {
	z-index: 9999999999;
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.corner-ribbon {
	z-index: 9999999999;
  display:block;
  font: bold 18px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

a.corner-ribbon{
  text-decoration: none;
}

.corner-ribbon:before, .corner-ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.corner-ribbon:before {
  left: 0;
}
.corner-ribbon:after {
  right: 0;
}

/*body {
  background: url('https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/LArSOxoEeyOLmY5/156H.jpg');
  background-size: cover;
}
*/
body {
  background: url("https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/PrFPiTUBghJnCiE/linedpaper.png");
  background-repeat: repeat;
}