<ng-include src="'templates/partials/navbar.html'"></ng-include>
<div class="container">
	<form ng-submit="updateFactory(user)">
		<h2>Who is this story about?</h2>
		<p><input type="text" placeholder="name" ng-model="user.name" required></p>
		<h2>What is {{ user.name }}'s last name?</h2>
		<p><input type="text" placeholder="last name" ng-model="user.last_name" required></p>
		<h2>What is {{ user.name }}'s favorite color?</h2>
		<p><input type="text" placeholder="favorite color" ng-model="user.color" required></p>
		<input type="submit" value="Continue to Story" ng-disabled="!(!!user.name || !!user.last_name  || !!user.color)" class="btn btn-danger"/>
	</form>
</div>
