<!DOCTYPE html>
<html>
<head>
	<title>My Baby Sister</title>
</head>
	<body>
		<ng-include src="'templates/partials/navbar.html'"></ng-include>

	<!-- 	vars

		name
		fav_toy
		brother_or_sister -->

		<h1></h1>My Baby Sister

		<p>My dad woke me up saying "{{ name }}, come here! We need to take you to Grandma’s house." He had to take mom to the hospital.</p>
		<br>
		<p>When he picked me up, he said he had a surprise for me. I thought it was a {{ fav_toy }}, but dad said "No, it's a baby sister."</p>
		<br>
		<p>He took me to the hospital to see my mommy and my new baby sister. When I saw her, I thought she was a baby doll. I was her big {{ brother_or_sister }} now!</p>
		<br>
		<p>When my mom and my baby sister came home, I helped my mom change my sister's diaper and feed her. I was mom’s little helper. I was my baby’s big {{ brother_or_sister }}.</p>
		<br>
		<p>I love my new baby sister and she loves me too!</p>
	</body>
</html>