vars

name
fav_toy
brother_or_sister

My Baby Sister

My dad woke me up saying "#{name}, come here! We need to take you to Grandma’s house." He had to take mom to the hospital.
When he picked me up, he said he had a surprise for me.
I thought it was a #{fav_toy}, but dad said "No, it's a baby sister."
When I saw her, I thought it was a baby doll.
He took me to the hospital to see my mommy and my new baby sister.
I was her big #{brother_or_sister} now!
When my mom and my baby sister came home, I helped my mom change my sister's diaper and feed her.
I was mom’s little helper.
I was my baby’s big #{brother_or_sister}.
I love my new baby sister and she loves me too! 