<ng-include src="'templates/partials/navbar.html'"></ng-include>

<h2>Who is this story about?</h2>
<p><input type="text" placeholder="name" ng-model="beach.name"></p>

<h2>What is {{ beach.name }}'s favorite food?</h2>
<p><input type="text" placeholder="favorite food" ng-model="beach.fav_food"></p>

<h2>What is {{ beach.name }}'s favorite ice cream flavor?</h2>
<p><input type="text" placeholder="favorite ice cream flavor" ng-model="beach.ice_cream_flavor"></p>

<button type=""><a ng-href="#/beach" title="Beach Story">Continue to Story</a></button>