vars

fav_food
ice_cream_flavor

A Day at the Beach

My mommy and daddy took us to the beach. We had so much fun.
We swam.
We played in the sand.
We even buried dad in the sand.
We had so much fun until it was time for lunch.
Mom packed our favorite foods...peanut butter and jelly sandwiches, and ham and cheese sandwiches and of course #{fav_food}.

We started to eat our lunch and...
'Whissh'
The seagulls flew down, landed right next to us and took our lunches!
We looked at mom and dad and we all began to laugh!

Dad took us to the snack bar and we had lunch there.
On the way home we stopped for ice cream. I picked out #{ice_cream_flavor}. As we were eating the ice cream we looked at each other and we burst out laughing!
We couldn’t stop!

It was such a great day at the beach.
Dad said we can go back again next week!
Mom said absolutely no sandwiches! 