<!DOCTYPE html>
<html>
	<head>
		<title>A Day at the Beach</title>
	</head>
	<body>
<!-- 		vars

		fav_food
		ice_cream_flavor -->

		<h1>A Day at the Beach</h1>
		<br>
		<p>My mommy and daddy took us to the beach. We had so much fun.
		We swam. <br>
		We played in the sand. <br>
		We even buried dad in the sand. <br>
		We had so much fun until it was time for lunch. Mom packed our favorite foods...peanut butter and jelly sandwiches, and ham and cheese sandwiches and of course {{ fav_food }}.</p>
		<br>
		<p>We started to eat our lunch and... <br>
		'Whissh' <br>
		The seagulls flew down, landed right next to us and took our sandwiches!	We looked at mom and dad and we all began to laugh! </p>
		<br>
		<p>Dad took us to the snack bar and we had lunch there.	On the way home from the beach, we stopped for ice cream. I picked out {{ ice_cream_flavor }}. As we were eating the ice cream we looked at each other and we burst out laughing! We couldn’t stop!</p>
		<br>
		<p>It was such a great day at the beach. <br>
		Dad said we can go back again next week! <br>
		Mom said absolutely no sandwiches!</p>
	</body>
</html>