<ng-include src="'templates/partials/navbar.html'"></ng-include>

<div class="container">

	<!-- sketch.js -->

	<div class="tools">
	</div>
	<canvas id="colors_sketch" width="1180" height="300" padding-top="50px"></canvas>
	<script type="text/javascript">
	  $(function() {
	    $.each(['#3c8d7f', '#86b460', '#cebd4e', '#d45b5b', '#5f5758', '#8D3C4A', '#000', '#fff'], function() {
	      $('.tools').append("<span><a href='#colors_sketch' data-color='" + this + "' style='width: 10px; background: " + this + ";'> </a></span> ");
	    });
	    $.each([3, 5, 10, 15], function() {
	      $('.tools').append("<a href='#colors_sketch' data-size='" + this + "' style='background: #ccc'>" + "brush size " + this + "</a> ");
	    });
	    $('#colors_sketch').sketch();
	  });
	</script>
	<div class="storyText">
		<h1>Fishing with Daddy</h1>
		<br>
		<p>My dad and I went to buy a fishing pole. I bought the biggest and the best fishing pole that I could hold. It was bright {{ user[1] }} - I couldn't wait to use it!</p>
		<br>
		<p>My dad told me we were going fishing tomorrow, just the two of us. I was so excited! Every time dad went fishing, I asked to go with him but he always said I was too little. Well, tomorrow I'll finally get to go with dad. </p>
		<br>
		<p>Dad showed me how to use my {{ user[1] }} fishing pole so I would know how to catch a fish tomorrow. I thought it was so much fun! I had to go to bed early that night because we had to wake up early. Dad said all good fishermen start fishing before the sun rises because the fish wake up early. While I went to bed, dad hooked the boat up to his truck, so I knew I was really going fishing!</p>
		<br>
		<p>We woke up very early and had to go to Frank’s Bait and Tackle Shop to get worms. I thought that was the best part of the day. I loved touching the worms. They were cold and slippery. </p>
		<br>
		<p>When we arrived at the pond, dad backed his truck up into the pond to unhook the fishing boat. Before we went into the boat, dad put a life vest on me just in case I fell into the water. I would be safe with my life vest on.</p>
		<br>
		<p>We went in the boat and dad showed me how to put the worms on the fishing pole then he taught me how to swing the fishing pole over my shoulder.</p>
		<br>
		<p>Wow! I think I caught a fish! Dad also showed me how to reel the fish in. I was so excited to have caught my first fish.</p>
		<br>
		<p>Dad laughed and said, That’s just seaweed, {{ user[0] }}, not a fish! You're going to have to keep trying." I was disappointed because I wanted to catch a fish. I kept trying and trying, but I didn’t have any luck.</p>
		<br>
		<p>After four hours of fishing I didn’t catch anything. Dad didn’t either. As we were ready to pack up and head to shore, I thought something was tugging at my fishing pole. Dad didn't notice becuase he was pulling the anchor out of the water so we could start the boat. So all by myself I pulled the fish out of the water without dad's help. Then I showed dad what I caught - he was really surprised! He was so proud of me.</p>
		<br>
		<p>I knew we had to let the fish back in the pond to be free, so I named it {{ user[2] }} and let dad put it back in the water.</p>
		<br>
		<p>That was a perfect ending to a perfect day with dad. I am big enough to go fishing with him. I can’t wait to go again - maybe dad will catch a fish next time!</p>
	</div>
</div>

<script>var pfHeaderImgUrl = '';var pfHeaderTagline = '';var pfdisableClickToDel = 0;var pfHideImages = 0;var pfImageDisplayStyle = 'right';var pfDisablePDF = 0;var pfDisableEmail = 0;var pfDisablePrint = 0;var pfCustomCSS = '';var pfBtVersion='1';(function(){var js, pf;pf = document.createElement('script');pf.type = 'text/javascript';if('https:' == document.location.protocol){js='https://pf-cdn.printfriendly.com/ssl/main.js'}else{js='http://cdn.printfriendly.com/printfriendly.js'}pf.src=js;document.getElementsByTagName('head')[0].appendChild(pf)})();</script>
<div class="printButton">
	<a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF"><img style="border:none;-webkit-box-shadow:none;box-shadow:none;margin:0 6px"  src="http://cdn.printfriendly.com/pf-print-icon.gif" width="16" height="15" alt="Print Friendly Version of this page" />Print <img style="border:none;-webkit-box-shadow:none;box-shadow:none;margin:0 6px"  src="http://cdn.printfriendly.com/pf-pdf-icon.gif" width="12" height="12" alt="Get a PDF version of this webpage" />PDF</a>
</div>