<!DOCTYPE html>
<html>
	<head>
		<title>My New Swing</title>
	</head>
	<body>

		<ng-include src="'templates/partials/navbar.html'"></ng-include>

		<h2>Who is this story about?</h2>
		<p><input type="text" placeholder="name" ng-model="swing.name"></p>

		<h2>What is {{ swing.name }}'s favorite color?</h2>
		<p><input type="text" placeholder="favorite color" ng-model="swing.fav_color"></p>

		<h2>What a name of one of {{ swing.name }}'s friends?</h2>
		<p><input type="text" placeholder="friend's name" ng-model="swing.friend_name"></p>


		<h1>My New Swing</h1>
		<br>
		<p>My new swing goes very, very high. <br>
		It is {{ swing.fav_color }} and doesn't squeak like the one at the playground does.</p>
		<br>
		<p>I can almost reach the sky with my swing. <br>
		I can swing so high that I know I'll touch the clouds one day.</p>
		<br>
		<p>I go outside and play on the swing everyday. I have so much fun.
		When my friends come over, we try to see who can go the highest.
		My friend {{ swing.friend_name }} said that my swing is better than the one at the playground.</p>
		<br>
		<p>I know someday I will go the highest and I will be the first one to touch the sky. I'll grab a handful of the clouds and bring it back down to show everyone I really touched the sky.</p>
	</body>
</html>