<ng-include src="'templates/partials/navbar.html'"></ng-include>
<form ng-submit="updateFactory(user)">
	<h2>Who is this story about?</h2>
	<p><input type="text" placeholder="name" ng-model="user.name"></p>
	<h2>What is {{ user.name }}'s favorite color?</h2>
	<p><input type="text" placeholder="favorite color" ng-model="user.fav_color"></p>
	<h2>What a name of one of {{ user.name }}'s friends?</h2>
	<p><input type="text" placeholder="friend's name" ng-model="user.friend_name"></p>
	<input type="submit" value="Continue To Story" ng-disabled="!(!!user.name || !!user.fav_color  || !!user.friend_name)"/>
</form>
