vars

friend_name
fav_color

My New Swing

My new swing goes very, very high.
It is #{fav_color} and doesn't squeak like the one at the playground does.

I can almost reach the sky with my swing.
I can swing so high that I know I'll touch the clouds one day.

I go outside and play on the swing everyday. I have so much fun.
When my friends come over, we try to see who can go the highest.
My friend #{friend_name} said that my swing is better than the one at the playground.

I know someday I will go the highest and I will be the first one to touch the sky. I'll grab a handful of the clouds and bring it back down to show everyone I really touched the sky.