<ng-include src="'templates/partials/navbar.html'"></ng-include>

<body class="story-body">

	<!-- sketch.js -->

	<div class="tools">
	</div>
	<canvas id="colors_sketch" width="800" height="300" padding-top="50px"></canvas>
	<script type="text/javascript">
	  $(function() {
	    $.each(['#3c8d7f', '#86b460', '#cebd4e', '#d45b5b', '#5f5758', '#8D3C4A', '#000', '#fff'], function() {
	      $('.tools').append("<span><a href='#colors_sketch' data-color='" + this + "' style='width: 10px; background: " + this + ";'> </a></span> ");
	    });
	    $.each([3, 5, 10, 15], function() {
	      $('.tools').append("<a href='#colors_sketch' data-size='" + this + "' style='background: #ccc'>" + "brush size " + this + "</a> ");
	    });
	    $('#colors_sketch').sketch();
	  });
	</script>

	<h1>{{ user[0] }}'s Favorite Teddy “Bear”</h1>
	<br>
	<p>My favorite teddy bear is small and cuddly. <br>
	Its name is {{ user[2] }}. <br>
	I sleep with {{ user[2] }} every night. <br>
	I take my teddy bear with me wherever I go. <br></p>
	<br>
	<p>One day, I took my teddy bear to school and the kids laughed at me. <br>
	I didn’t know why. <br>
	I went home and told my mom I was upset. <br>
	Mommy asked what was wrong and I told her the children laughed at {{ user[2] }} when I showed them. <br>
	Mom told me that my teddy bear was really a {{ user[1] }}! <br>
	I think that made {{ user[2] }} even more special. <br>
	I really love my teddy {{ user[1] }}! <br></p>
</body>

<script>var pfHeaderImgUrl = '';var pfHeaderTagline = '';var pfdisableClickToDel = 0;var pfHideImages = 0;var pfImageDisplayStyle = 'right';var pfDisablePDF = 0;var pfDisableEmail = 0;var pfDisablePrint = 0;var pfCustomCSS = '';var pfBtVersion='1';(function(){var js, pf;pf = document.createElement('script');pf.type = 'text/javascript';if('https:' == document.location.protocol){js='https://pf-cdn.printfriendly.com/ssl/main.js'}else{js='http://cdn.printfriendly.com/printfriendly.js'}pf.src=js;document.getElementsByTagName('head')[0].appendChild(pf)})();</script>
<div class="printButton">
	<a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF"><img style="border:none;-webkit-box-shadow:none;box-shadow:none;margin:0 6px"  src="http://cdn.printfriendly.com/pf-print-icon.gif" width="16" height="15" alt="Print Friendly Version of this page" />Print <img style="border:none;-webkit-box-shadow:none;box-shadow:none;margin:0 6px"  src="http://cdn.printfriendly.com/pf-pdf-icon.gif" width="12" height="12" alt="Get a PDF version of this webpage" />PDF</a>
</div>