vars

fav_animal
toy_name

My Favorite Teddy “Bear”

My favorite teddy bear is small and cuddly.
Its name is #{toy_name}.
I sleep with #{toy_name} every night.
I take my teddy bear with me wherever I go.
One day, I took my teddy bear to school and the kids laughed at me.
I didn’t know why.
I went home and told my mom I was upset.
Mommy asked what was wrong and I told her the children laughed at #{toy_name} when I showed them.
Mom told me that my teddy bear was really a #{fav_animal}!
I think that made #{toy_name} even more special.
I really love my teddy #{fav_animal}! 