<ng-include src="'/partials/navbar.html'"></ng-include>

<h1>About</h1>
<br>
<p>We hope you're enjoying ___[app name]___!</p>
<br>
<p>This app was was created and built by Lauren Fazah, 2014.</p> 
<p>Her mother, Marian, writes children's stories in her free time. ___[app name]___ is a great way for both of them to combine their passions.</p>
<p>Check out Lauren's code on <a href="https://github.com/laurenfazah" title="GitHub">GitHub</a> or connect with her on <a href="www.linkedin.com/in/laurenfazah/" title="">LinkedIn</a>!</p>