<ng-include src="'templates/partials/navbar.html'"></ng-include>
<div id="home-page" class="container">
	<div class = "row">
		<div class = "col-xs-12">
			<h1 id="app-title">StoryMaker</h1>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<h3>What story would you like to read?</h3>
		</div>
	</div>
	<div class = "row">
		<div class = "col-xs-12">
			<ul>
				<div id="story-list">
					<li><a ng-href="#/airplaneprompts" title="Airplane Prompts"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/6r1hSNsU751C8SW/plane19.png" alt=""> My First Airplane Ride</a></li>
					<li><a ng-href="#/beachprompts" title="Beach Prompts"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/Cktw1dX8IGfjtiw/summer.png" alt=""> A Day at the Beach</a></li>
					<li><a ng-href="#/fishingprompts" title="Fishing Prompts"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/TulbXdd06P1Re9C/fish51.png" alt=""> Fishing with Daddy</a></li>
					<li><a ng-href="#/sisterprompts" title="Sister Prompts"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/ylHKtGmzQknmJat/baby67.png" alt=""> My Baby Sister</a></li>
					<li><a ng-href="#/swingprompts" title="Swing Prompts"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/bcuj6MMJbmjyCcD/swinging.png" alt=""> My New Swing</a></li>
					<li><a ng-href="#/teddyprompts" title="Teddy Prompts"><img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1226463/WQYmX9pk4ZQtTvw/bear10.png" alt=""> My Favorite Teddy “Bear”</a></li>
				</div>
			</ul>
		</div>
	</div>
</div>