<ng-include src="'templates/partials/navbar.html'"></ng-include>

<h1>Bedtime Story Generator</h1>

<h2>What story would you like to read?</h2>
<ul>Stories
	<li><a ng-href="#/airplaneprompts" title="Airplane Prompts">My First Airplane Ride</a></li>
	<li><a ng-href="#/beachprompts" title="Beach Prompts">A Day at the Beach</a></li>
	<li><a ng-href="#/fishingprompts" title="Fishing Prompts">Fishing with Daddy</a></li>
	<li><a ng-href="#/sisterprompts" title="Sister Prompts">My Baby Sister</a></li>
	<li><a ng-href="#/swingprompts" title="Swing Prompts">My New Swing</a></li>
	<li><a ng-href="#/teddyprompts" title="Teddy Prompts">My Favorite Teddy “Bear”</a></li>
</ul>